{% extends 'users/registered_user_navbar.html' %}

{% block registered_content %}

<div class="heading-container">
    <div class="heading-line-gradient-to-right"></div>
    <h2 class="heading-text">Idea details</h2>
    <div class="heading-line-gradient-to-left"></div>
</div>

<div class="user-profile-content-container">
    <p>Name: {{ idea.name }}</p>
    <a href="{{ url_for('idealog.edit_idea', idea_id=idea.id) }}" class="btn btn-outline-secondary btn-sm">Edit</i></a>
    <form action="{{ url_for('idealog.delete_idea', idea_id=idea.id) }}" method="post"><button class="btn btn-outline-secondary btn-sm">Delete</button></form>
    <p>Description: {{ idea.text }}</p>
    <p>Published date: {{ idea.publish_date }}</p>
    <h3>Idea Groups:</h3>
    <ul>
        {% for group in idea.groups %}
        <li><a href="{{ url_for('idealog.detail_group', group_id=group.id) }}">{{ group.name }}</a></li>
        {% endfor %}
    </ul>
    <h3>Idea Artifacts:</h3>
    <ul>
        {% for artifact in idea.artifacts %}
        <li><a href="{{ url_for('idealog.detail_artifact', artifact_id=artifact.id) }}">{{ artifact.name }}</a></li>

        {% endfor%}

    </ul>

</div>


{% endblock %}