{% extends 'users/registered_user_navbar.html' %}

{% block registered_content %}

<div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-5">
        <h2 class="form-header">Add a new idea.</h2>
        <form method="POST" id="new-idea-form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}

            <button class="btn btn-primary btn-lg btn-block">Add a new idea.</button>
            <a href="{{ url_for('idealog.render_all_ideas') }}" class="btn btn-outline-secondary btn-sm">Cancel.</a>
        </form>
    </div>
</div>

{% endblock %}