{% extends 'users/registered_user_navbar.html' %}

{% block registered_content %}

<div class="heading-container">
    <div class="heading-line-gradient-to-right"></div>
    <h2 class="heading-text">Your ideas.</h2>
    <div class="heading-line-gradient-to-left"></div>
</div>

<div class="user-profile-content-container graph-container">
    {% for idea in ideas %}
    <div class="card-contents">
        <a href="{{ url_for('idealog.detail_idea', idea_id=idea.id) }}" class="card-link">{{ idea.name }}</a>
        {% if idea.privacy == 'private' %}
        <i class="fa-solid fa-user"></i>
        {% elif idea.privacy == 'public' %}
        <i class="fa-solid fa-users"></i>
        {% endif %}
        {% if idea.creation_mode == 'automated'%}
        <i class="fa-solid fa-robot"></i>
        {% elif idea.creation_mode == 'manual'%}
        <i class="fa-solid fa-person"></i>
        {% endif %}
        <a href="{{ url_for('idealog.edit_idea', idea_id=idea.id) }}"><i class="fa-regular fa-pen-to-square"></i></a>
        <form action="{{ url_for('idealog.delete_idea', idea_id=idea.id) }}" method="post" class="delete-form"><button class="delete-btn"><i class="fa-regular fa-trash-can"></i></button></form>
    </div>


    {% endfor %}

</div>


{% endblock %}