{% extends 'base.html' %}

{% block content %}

<div class="container card-header">List of public ideas</div>
<div class="list-group container">
    {% if ideas | length <= 0 %}
    <div class="list-group-item list-group-item-action">
        <div>Nothing Found.</div>
    </div>
    {% else %}
    {% for idea in ideas %}
    <div class="list-group-item list-group-item-action">
        <a href="{{ url_for('idealog.detail_idea', idea_id=idea.id) }}">{{ idea.name }}</a>
        <a href="{{ url_for('idealog.edit_idea', idea_id=idea.id) }}"><i class="fa-regular fa-pen-to-square"></i></a>
        <form action="{{ url_for('idealog.delete_idea', idea_id=idea.id) }}" method="post" class="delete-form"><button class="delete-btn"><i
                    class="fa-regular fa-trash-can"></i></button></form>
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="container card-header">List of public groups</div>
<div class="list-group container">
    {% if groups | length <= 0 %}
    <div class="list-group-item list-group-item-action">
        <div>Nothing Found.</div>
    </div>
    {% else %}
    {% for group in groups %}
    <div class="list-group-item list-group-item-action">
        <a href="{{ url_for('idealog.detail_group', group_id=group.id) }}">{{ group.name }}</a>
        <a href="{{ url_for('idealog.edit_group', group_id=group.id) }}"><i class="fa-regular fa-pen-to-square"></i></a>
        <form action="{{ url_for('idealog.delete_group', group_id=group.id) }}" method="post" class="delete-form"><button
                class="delete-btn"><i class="fa-regular fa-trash-can"></i></button></form>
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="container card-header">List of public knowledge sources</div>
<div class="list-group container">
    {% if knowledge_sources | length <= 0 %}
    <div class="list-group-item list-group-item-action">
        <div>Nothing Found.</div>
    </div>
    {% else %}
    {% for knowledge_source in knowledge_sources %}
    <div class="list-group-item list-group-item-action">
        <a href="{{ url_for('idealog.detail_knowledge_source', knowledge_source_id=knowledge_source.id) }}">{{
            knowledge_source.name }}</a>
        <a href="{{ url_for('idealog.edit_knowledge_source', knowledge_source_id=knowledge_source.id) }}"><i class="fa-regular fa-pen-to-square"></i></a>
        <form action="{{ url_for('idealog.delete_knowledge_source', knowledge_source_id=knowledge_source.id) }}" method="post" class="delete-form"><button
                class="delete-btn"><i class="fa-regular fa-trash-can"></i></button></form>
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="container card-header">List of public knowledge domains</div>
<div class="list-group container">
    {% if knowledge_domains | length <= 0 %}
    <div class="list-group-item list-group-item-action">
        <div>Nothing Found.</div>
    </div>
    {% else %}
    {% for knowledge_domain in knowledge_domains %}
    <div class="list-group-item list-group-item-action">
        <a href="{{ url_for('idealog.detail_knowledge_domain', knowledge_domain_id=knowledge_domain.id) }}">{{
            knowledge_domain.name }}</a>
        <a href="{{ url_for('idealog.edit_knowledge_domain', knowledge_domain_id=knowledge_domain.id) }}"><i class="fa-regular fa-pen-to-square"></i></a>
        <form action="{{ url_for('idealog.delete_knowledge_domain', knowledge_domain_id=knowledge_domain.id) }}" method="post" class="delete-form"><button
                class="delete-btn"><i class="fa-regular fa-trash-can"></i></button></form>
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="container card-header">List of public knowledge bases</div>
<div class="list-group container">
    {% if knowledge_bases | length <= 0 %}
    <div class="list-group-item list-group-item-action">
        <div>Nothing Found.</div>
    </div>
    {% else %}
    {% for knowledge_base in knowledge_bases %}
    <div class="list-group-item list-group-item-action">
        <a href="{{ url_for('idealog.detail_knowledge_base', knowledge_base_id=knowledge_base.id) }}">{{
            knowledge_base.name }}</a>
        <a href="{{ url_for('idealog.edit_knowledge_base', knowledge_base_id=knowledge_base.id) }}"><i class="fa-regular fa-pen-to-square"></i></a>
        <form action="{{ url_for('idealog.delete_knowledge_base', knowledge_base_id=knowledge_base.id) }}" method="post" class="delete-form"><button
                class="delete-btn"><i class="fa-regular fa-trash-can"></i></button></form>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}