{% extends 'base.html' %}
{% block content %}

<div class="heading-container">
    <div class="heading-line-gradient-to-right"></div>
    <h2 class="heading-text">Trending on <b>Idealog</b> this week</h2>
    <div class="heading-line-gradient-to-left"></div>
</div>


<div class="trending-list-container">
    <p>Scroll</p>
</div>
<div class="graph-container">
    <p>
        Placeholder for a graph
    </p>
    <div class="card" style="width: 100%">


        <div id="mynetwork" class="card-body"></div>
    </div>


</div>

{% endblock %}