{% extends 'base.html' %}

{% block content %}

<div class="user-profile-navbar">

    <div class="user-object-card">
        <p><i class="fa-regular fa-lightbulb"></i> Ideas</p>
        <p>Count: {{ g.user.ideas | length }}</p>
        <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('idealog.add_new_idea') }}">Add New</a>
        <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('idealog.render_all_ideas') }}">Show All</a>
    </div>
    <div class="user-object-card">
        <p><i class="fa-solid fa-layer-group"></i> Idea Groups</p>
        <p>Count: {{ g.user.groups | length }}</p>
        <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('idealog.add_new_group') }}">Add New</a>
        <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('idealog.render_all_groups') }}">Show All</a>
    </div>
    <div class="user-object-card">
        <p><i class="fa-solid fa-book"></i> Knowledge Sources</p>
        <p>Count: {{ g.user.knowledge_sources | length }}</p>
        <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('idealog.add_new_knowledge_source') }}">Add New Manually</a>
        <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('idealog.add_new_knowledge_source_internet') }}">Add New From Internet <i class="fa-solid fa-robot"></i></a>
        <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('idealog.add_new_knowledge_source_files') }}">Add New From File(s) <i class="fa-solid fa-robot"></i></a>
        <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('idealog.render_all_knowledge_sources') }}">Show All</a>
    </div>
    <div class="user-object-card">
        <p><i class="fa-solid fa-lines-leaning"></i> Knowledge Domains</p>
        <p>Count: {{ g.user.knowledge_domains | length }}</p>
        <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('idealog.add_new_knowledge_domain') }}">Add New</a>
        <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('idealog.render_all_knowledge_domains') }}">Show All</a>
    </div>
    <div class="user-object-card">
        <p><i class="fa-solid fa-brain"></i> Knowledge Bases</p>
        <p>Count: {{ g.user.knowledge_bases | length }}</p>
        <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('idealog.add_new_knowledge_base') }}">Add New</a>
        <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('idealog.merge_knowledge_bases') }}">Merge</a>
        <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('idealog.render_all_knowledge_bases') }}">Show All</a>
    </div>


</div>
<div class="container">
    {% block registered_content %}
    {% endblock %}
</div>



{% endblock %}