{% extends 'users/guest_user_navbar.html' %}

{% block guest_content %}

<div class="heading-container">
    <div class="heading-line-gradient-to-right"></div>
    <h2 class="heading-text">Knowledge Graph Display</h2>
    <div class="heading-line-gradient-to-left"></div>
</div>

<div class="user-profile-content-container">
    <svg class="svg-graph-container" id="svg-graph-container"></svg>
    
    <div class="container-message" id="select-kb-message"><p>Select a knowledge base to display</p><p><i class="fa-solid fa-arrow-up"></i></p></div>
    <script src="{{ url_for('static', filename='js/displayGraphGuestHome.js') }}"></script>
</div>



{% endblock %}